<div>
  <div class="individual_container">
    <form [formGroup]="myForm">
      <label>
        Числовое:
        <input type="text" formControlName="numeric" appNumericInput>
      </label>

      <label>
        Текстовое:
        <input type="text" formControlName="text_message" [(ngModel)]="text_message" required>
        <span *ngIf="text_message && text_message.length > 255" class="error-message">Максимальное количество символов: 255</span>
      </label>

      <label>
        Электронная почта:
        <input type="email" formControlName="mail">
        <span *ngIf="myForm.get('mail')?.hasError('email') && myForm.get('mail')?.touched" class="error-message">Некорректный адрес электронной почты</span>
      </label>

      <label for="fileInput" class="custom-file-input">
        Выберите файл PDF
        <input type="file" id="fileInput" accept=".pdf" (change)="onFileChange($event)" required />
      </label>
      <div class="file-name">{{ file }}</div>
    </form>

    <div class="radio_btn_container">
        <input type="radio" name="userType" value="individual" [checked]="radioBtn" (change)="onRadioChange('radioBtn')">
        <input type="radio" name="userType" value="legalEntity" [checked]="radioBtn2" (change)="onRadioChange('radioBtn2')">
    </div>

  </div>
</div>
